@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-secondary: #ec4899;
  --color-dark: #0f1115;
  --color-card: #161b22;
}

@layer base {
  body {
    background-color: #0f1115;
    color: #f3f4f6;
    font-family: sans-serif;
  }
}

@layer components {
  .label {
    @apply block text-sm text-gray-400 mb-1.5 font-medium;
  }

  .input-field {
    @apply w-full bg-dark border border-white/20 rounded-md p-2.5 text-sm text-white focus:border-primary focus:outline-none transition-colors;
  }
}